@import "tailwindcss";

@theme {
  --color-brand-primary: #FaFaFa;
  --color-brand-secondary: #A855F7;
  --color-dark: #1a1a1a;
}

/* index.css */
html {
  scroll-padding-top: 5rem;
}

/* Custom scrollbar */
.my-scroll::-webkit-scrollbar {
  height: 8px;
}

.my-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.my-scroll::-webkit-scrollbar-thumb {
  background: #A855F7;
  border-radius: 999px;
}